<h1 data-id="" class="add-restaurant">Add Restaurant</h1>

<form class="add-restaurant">
  <fieldset>
    <input type="text" name="restaurant[restaurant_name]" autocomplete="restaurant" placeholder="Restaurant Name" required>
    <input type="text" name="restaurant[cuisine]" autocomplete="cuisine" placeholder="Cuisine" required>
    <input class="button" type="submit" value="Add Restaurant">
  </fieldset>
</form>
