<h1 data-id="" class="delete-restaurant">Delete Restaurant</h1>

<form class="delete-restaurant">
  <fieldset>
    <input type="number" name="restaurant[id]" autocomplete="restaurant id" placeholder="Restaurant ID" required>
    <input class="button" type="submit" value="Delete Restaurant">
  </fieldset>
</form>
